*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
header{
    background-color: #262626;
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding {
    color: red;
font-size: 2rem;
}
.nav-link {
    transition: 0.7s ease;
}
.nav-link:hover {
    color: dodgerblue;
}
.hamburger {
    display: none;
    cursor: pointer;

}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.info {
    margin: 0 auto;
    background-image: url(dyno.jpeg);
    background-size: auto;
    position: relative;
    height: 30rem;
    width: 70%;
    justify-content: center;
}
.info p {
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: 75px;
    text-align: center;
}
.link-fb {
    position: absolute;
    top: 15px;
    left: 10px;
}

.bottom-part {
    padding: 25px;
    background-color: #262626;
    position: relative;
    text-align: center;
    margin: auto;
    height: 100px;
}
label {
    color: white;
    font-size: 2rem;
}
select {
    width: 100px;
    height: 35px;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .info{
        background-size: cover;
        width: 100%;
    }
    .info p {
        font-size: 1.7rem;
    }
    .bottom-part {
        padding: 10px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        z-index: 1;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;

    }
}