body {
    margin: 0 auto;
    text-align: center; 
}
.upper-part {
    position: relative;
    background-image: url("car-background.jpeg");
    background-size: cover;
    box-shadow: inset 0px 0px 20px 3px black;
}
h1 {
    margin: 0 0 50px;
    color: rgb(130, 2, 2);
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
}
h2 {
    color: white;
}
h3 {
    margin: 0;
    position: absolute;
    left: 150px;
    top: 75px;
    color: white;
}
.nav {
    float: right;
    padding: 25px;
}
.nav-bar {
    float: left;
    padding: 0;
}
ul {
    list-style: none;
}
ul li {
    display: inline;
    padding: 20px;
}
a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    font-weight: bold;
}
.heading {
    float: left;
    padding: 25px;
}
.clear {
    clear: both;
}
.info {
    display: inline-block;
    position: relative;
    height: 400px;
    width: 80%;
}
.info p {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 100px;
    text-align: left;
    text-shadow: 3px 3px 3px black;
}
.content-holder {
    margin-bottom: 50px;
}
.main-info {
    margin: 0 auto;
    width: 90%;
    padding: 14px;
}
.main-info p {
    text-align: left;
    font-size: 25px;
}
.footer {
    position: relative;
    height: 50px;
    background-color: rgb(76, 76, 76);
}
.link-fb {
    position: absolute;
    top: 15px;
    left: 10px;
}

.bottom-part {
    position: relative;
    margin: auto;
    height: 800px;
    width: 80%;
}
